<!DOCTYPE html>
<html lang="en">
  <head> </head>
  <body>
    <form action="/MyPage_Save" method="POST">
      <div style="max-height: 300px; overflow-y: scroll" class="test">
        <table id="" class="col-12">
          <tbody>
            <tr>
              <th scope="row">ID</th>
              <td></td>
              <td>
                <input type="text" id="UserID" value="<%= req.session.UserID %>" style="text-align: center; width: 100%" />
              </td>
            </tr>
            <tr>
              <th scope="row">이름</th>
              <td></td>
              <td>
                <input type="text" id="UserName" value="<%= req.session.UserName %>" style="text-align: center; width: 100%" />
              </td>
            </tr>
            <tr>
              <th scope="row">직위</th>
              <td></td>
              <td>
                <input type="text" id="JobPosition" value="<%= req.session.JobPosition %>" style="text-align: center; width: 100%" />
              </td>
            </tr>
            <tr>
              <th scope="row">이메일</th>
              <td></td>
              <td>
                <input type="text" id="Email" value="<%=req.session.Email%>" style="text-align: center; width: 100%" />
              </td>
            </tr>
            <tr>
              <th scope="row">소속 회사</th>
              <td></td>
              <td>
                <input type="text" id="Comp_Name" value="<%=req.session.Comp_NAME%>" style="text-align: center; width: 100%" />
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div style="height: 30%"></div>

      <div style="height: 5%"></div>
      <div id="" class="d-flex" style="height: 10%"></div>
    </form>
  </body>
</html>
