<!DOCTYPE html>
<html lang="en">
  <head>
    <title>TongBal - 수정페이지</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- CSS only -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
      crossorigin="anonymous"
    />

    <!-- JavaScript Bundle with Popper -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css" />

    <!-- 커스텀 스크립트 -->
    <script src="/js/main.js"></script>
    <script src="/js/Board_Table.js"></script>
    <script src="/node_modules/jquery/dist/jquery.js"></script>

    <script>
      var referrer = document.referrer;
      if (referrer == "") {
        alert("비정상적인 접근입니다.");
        window.location.href = "/";
      } else {
      }
    </script>
    <!-- 커스텀 CSS -->
    <link href="/css/main.css" rel="stylesheet" />
    <link href="/css/font.css" rel="stylesheet" />
    <link href="/css/div.css" rel="stylesheet" />
    <link href="/css/class.css" rel="stylesheet" />

    <style>
      .file {
        width: 200px;
        height: 200px;
      }
      input {
        outline: none;
        border: none;
      }

      li {
        list-style: none;
      }
      img {
        width: 90%;
      }
      .real-upload {
        display: none;
      }

      .upload {
        width: 40px;
        height: 40px;
        background-color: #444444;
      }

      .image-preview {
        gap: 20px;
      }
      .file-label {
        margin-top: 30px;
        background-color: #5b975b;
        color: #fff;
        text-align: center;
        padding: 10px 0;
        width: 65%;
        border-radius: 6px;
        cursor: pointer;
      }
    </style>
  </head>
  <body>
    <div style="height: 20px"></div>

    <% if (type == 'R'){ %>

    <div class="d-flex flex-warp justify-content-center" style="justify-content: center">
      <div id="Purchase_Order" class="col-10" style="text-align: center">
        <div
          style="text-align: center; font-size: 32px; border-top: 1px solid #444444; border-left: 1px solid #444444; border-right: 1px solid #444444"
        >
          발&nbsp;&nbsp;주&nbsp;&nbsp;서
        </div>
        <div
          style="
            text-align: center;
            font-size: 1vw;
            border-bottom: 1px solid #444444;
            border-left: 1px solid #444444;
            border-right: 1px solid #444444;
          "
        ></div>
        <div class="d-flex border_B border_L border_R" style="align-items: center; justify-content: center; text-align: center; height: 300px">
          <div id="company-1" class="col-017 d-flex flex-wrap" style="height: 100%">
            <div class="col-12 d-flex flex-wrap border_B" style="align-items: center; justify-content: center">
              <div class="col-07 Poc_main_font">본사명</div>
              <div class="col-08 11 Poc_main_font border_L" style="height: 100%">
                <input
                  type="text"
                  id="Comp_NAME"
                  name="Comp_NAME"
                  value="<%= req.session.R_CompanyInfo[key]['Comp_NAME'] %>"
                  style="width: 100%; height: 100%; text-align: center"
                  readonly
                />
              </div>
            </div>
            <div class="col-12 d-flex flex-wrap border_B" style="align-items: center; justify-content: center">
              <div class="col-07 Poc_main_font">대표자 성명</div>
              <div class="col-08 11 Poc_main_font border_L" style="height: 100%">
                <input
                  type="text"
                  id="President_NAME"
                  name="President_NAME"
                  value="<%= req.session.R_CompanyInfo[key]['President_NAME'] %>"
                  style="width: 100%; height: 100%; text-align: center"
                  readonly
                />
              </div>
            </div>
            <div class="col-12 d-flex flex-wrap border_B" style="align-items: center; justify-content: center">
              <div class="col-07 Poc_main_font">주소</div>
              <div class="col-08 11 Poc_main_font border_L" style="height: 100%">
                <input
                  type="text"
                  id="Business_ADDR"
                  name="Business_ADDR"
                  value="<%= req.session.R_CompanyInfo[key]['Business_ADDR'] %>"
                  requiredun
                  style="width: 100%; height: 100%; text-align: center"
                  readonly
                />
              </div>
            </div>
            <div class="col-12 d-flex flex-wrap border_B" style="align-items: center; justify-content: center">
              <div class="col-07 Poc_main_font">TEL</div>
              <div class="col-08 11 Poc_main_font border_L" style="height: 100%">
                <input
                  type="text"
                  id="TEL"
                  name="TEL"
                  value="<%= req.session.R_CompanyInfo[key]['TEL'] %>"
                  style="width: 100%; height: 100%; text-align: center"
                  readonly
                />
              </div>
            </div>
            <div class="col-12 d-flex flex-wrap" style="align-items: center; justify-content: center">
              <div class="col-07 Poc_main_font">FAX</div>
              <div class="col-08 11 Poc_main_font border_L" style="height: 100%">
                <input
                  type="text"
                  id="FAX"
                  name="FAX"
                  value="<%= req.session.R_CompanyInfo[key]['FAX'] %>"
                  style="width: 100%; height: 100%; text-align: center"
                  readonly
                />
              </div>
            </div>
          </div>

          <div class="col-04 d-flex flex-wrap" style="font-size: 1vmax; border-left: 1px solid black; border-right: 1px solid black; height: 100%">
            <div calss="col-12" style="width: 100%">공</div>
            <div calss="col-12" style="width: 100%">급</div>
            <div calss="col-12" style="width: 100%">자</div>
          </div>

          <!--공급자-->
          <div id="company-2" class="col-017 d-flex flex-wrap" style="height: 100%">
            <div class="col-12 d-flex flex-wrap border_B" style="align-items: center; justify-content: center">
              <div class="col-07 Poc_main_font">본사명</div>
              <div class="col-08 Poc_main_font border_L" style="height: 100%">
                <input
                  type="text"
                  id="Comp_NAME2"
                  name="Comp_NAME"
                  value="<%= req.session.MyCompanyInfo[0]['Comp_NAME'] %>"
                  style="width: 100%; height: 100%; text-align: center"
                  readonly
                />
              </div>
            </div>
            <div class="col-12 d-flex flex-wrap border_B" style="align-items: center; justify-content: center">
              <div class="col-07 Poc_main_font">대표자 성명</div>
              <div class="col-08 Poc_chat_font border_L" style="height: 100%">
                <input
                  type="text"
                  id="President_NAME2"
                  name="President_NAME"
                  value="<%= req.session.MyCompanyInfo[0]['President_NAME'] %>"
                  style="width: 100%; height: 100%; text-align: center"
                  readonly
                />
              </div>
            </div>
            <div class="col-12 d-flex flex-wrap border_B" style="align-items: center; justify-content: center">
              <div class="col-07 Poc_main_font">사업자 번호</div>
              <div class="col-08 Poc_chat_font border_L" style="height: 100%">
                <input
                  type="text"
                  id="Business_NUM2"
                  name="Business_NUM"
                  value="<%= req.session.MyCompanyInfo[0]['Business_NUM'] %>"
                  style="width: 100%; height: 100%; text-align: center"
                  readonly
                />
              </div>
            </div>
            <div class="col-12 d-flex flex-wrap border_B" style="align-items: center; justify-content: center">
              <div class="col-07 Poc_main_font">주소</div>
              <div class="col-08 Poc_chat_font border_L" style="height: 100%">
                <input
                  type="text"
                  id="Business_ADDR2"
                  name="Business_ADDR"
                  value="<%= req.session.MyCompanyInfo[0]['Business_ADDR'] %>"
                  requiredun
                  style="width: 100%; height: 100%; text-align: center"
                  readonly
                />
              </div>
            </div>
            <div class="col-12 d-flex flex-wrap border_B" style="align-items: center; justify-content: center">
              <div class="col-07 Poc_main_font">공장 주소</div>
              <div class="col-08 Poc_chat_font border_L" style="height: 100%">
                <input
                  type="text"
                  id="Factory_ADDR2"
                  name="Factory_ADDR"
                  value="<%= req.session.MyCompanyInfo[0]['Factory_ADDR'] %>"
                  style="width: 100%; height: 100%; text-align: center"
                  readonly
                />
              </div>
            </div>
            <div class="col-12 d-flex flex-wrap border_B" style="align-items: center; justify-content: center">
              <div class="col-07 Poc_main_font">업종</div>
              <div class="col-08 Poc_chat_font border_L" style="height: 100%">
                <input
                  type="text"
                  id="Sectors"
                  name="Sectors"
                  value="<%=req.session.MyCompanyInfo[0]['Sectors']%>"
                  style="width: 100%; height: 100%; text-align: center"
                  readonly
                />
              </div>
            </div>
            <div class="col-12 d-flex flex-wrap border_B" style="align-items: center; justify-content: center">
              <div class="col-07 Poc_main_font">TEL</div>
              <div class="col-08 Poc_chat_font border_L" style="height: 100%">
                <input
                  type="text"
                  id="TEL2"
                  name="TEL"
                  value="<%= req.session.MyCompanyInfo[0]['TEL'] %>"
                  style="width: 100%; height: 100%; text-align: center"
                  readonly
                />
              </div>
            </div>
            <div class="col-12 d-flex flex-wrap" style="align-items: center; justify-content: center">
              <div class="col-07 Poc_main_font">FAX</div>
              <div class="col-08 Poc_chat_font border_L" style="height: 100%">
                <input
                  type="text"
                  id="FAX2"
                  name="FAX"
                  value="<%= req.session.MyCompanyInfo[0]['FAX'] %>"
                  style="width: 100%; height: 100%; text-align: center"
                  readonly
                />
              </div>
            </div>
          </div>
        </div>
        <div class="col-12" style="height: 20px">&nbsp;</div>

        <!-- 테이블 -->
        <form action="/PO_items_save" method="POST">
          <input type="hidden" id="count" name="count" value="<%= req.session.R_prd_info[key].length %>" />

          <input type="hidden" name="PO_UUID" value="<%= req.session.Received_Order[key]['UUID'] %>" />
          <div class="col-12" style="justify-content: end; text-align: left">
            <button type="button" style="border: none; outline: none; width: 25px; height: 25px; font-size: 16px" onclick="delete_row()">-</button>
            <button type="button" style="border: none; outline: none; width: 25px; height: 25px; font-size: 16px" onclick="add_row()">
              <i class="bi bi-plus-lg"></i>
              <span style="position: absolute; left: 43%">납기일 : </span>
              <input type="datetime-local" id="currentDatetime" style="position: absolute; left: 46%; border: 1px solid black" />
              <script>
                const offset = new Date().getTimezoneOffset() * 60000;

                const today = new Date(Date.now() - offset);
                document.getElementById("currentDatetime").value = new Date().toLocaleDateString().slice(0, 16);
                console.log(document.getElementById("currentDatetime").value);
              </script>
            </button>
          </div>
          <div class="col-12" style="height: 5px">&nbsp;</div>
          <table id="tableId" class="col-12 pc" style="width: 100%; text-align: center; font-size: 1vmax; border-top: 1px solid #444444">
            <thead>
              <tr>
                <th scope="col">제품코드</th>
                <th scope="col">제품명</th>
                <th scope="col">가로</th>
                <th scope="col">세로</th>
                <th scope="col">단위</th>
                <th scope="col">수량</th>
                <th scope="col">공급가액</th>
                <th scope="col">부가세</th>
              </tr>
            </thead>
            <tbody id="PO_item_body">
              <% if (req.session.R_prd_info[key] != undefined) { for(var num in req.session.R_prd_info[key]) { %>

              <tr>
                <td>
                  <input
                    type="text"
                    name="P_Code"
                    value="<%= req.session.R_prd_info[key][num]['Product_CODE'] %>"
                    placeholder="제품코드"
                    style="width: 100%; height: 100%; outline: none; border: none; text-align: center"
                  />
                </td>
                <td>
                  <input
                    type="text"
                    id="P_Name"
                    name="P_Name"
                    value="<%= req.session.R_prd_info[key][num]['Product_NAME'] %>"
                    placeholder="제품명"
                    style="width: 100%; height: 100%; outline: none; border: none; text-align: center"
                  />
                </td>
                <td>
                  <input
                    type="text"
                    id="P_Width"
                    name="P_Width"
                    value="<%= req.session.R_prd_info[key][num]['Width'] %>"
                    placeholder="가로"
                    style="width: 100%; height: 100%; outline: none; border: none; text-align: center"
                  />
                </td>
                <td>
                  <input
                    type="text"
                    id="P_Height"
                    name="P_Height"
                    value="<%= req.session.R_prd_info[key][num]['Height'] %>"
                    placeholder="세로"
                    style="width: 100%; height: 100%; outline: none; border: none; text-align: center"
                  />
                </td>
                <td>
                  <input
                    type="text"
                    id="P_Unit"
                    name="P_Unit"
                    value="<%= req.session.R_prd_info[key][num]['unit'] %>"
                    placeholder="단위 "
                    style="width: 100%; height: 100%; outline: none; border: none; text-align: center"
                  />
                </td>
                <td>
                  <input
                    type="text"
                    id="P_Quan"
                    name="P_Quan"
                    value="<%= req.session.R_prd_info[key][num]['Quantity'] %>"
                    placeholder="수량"
                    style="width: 100%; height: 100%; outline: none; border: none; text-align: center"
                  />
                </td>
                <td>
                  <input
                    type="text"
                    id="P_Price"
                    name="P_Price"
                    value="<%= req.session.R_prd_info[key][num]['Unit_Price'] %>"
                    placeholder="단가"
                    style="width: 100%; height: 100%; outline: none; border: none; text-align: center"
                  />
                </td>
                <td>
                  <input
                    type="text"
                    id="P_VAT"
                    name="P_VAT"
                    value="<%= req.session.R_prd_info[key][num]['VAT'] %>"
                    placeholder="부가세"
                    style="width: 100%; height: 100%; outline: none; border: none; text-align: center"
                  />
                </td>
              </tr>
              <% } %>
            </tbody>
          </table>
          <div class="col-12" style="height: 20px">&nbsp;</div>
          <textarea id="Content" name="Content" class="border_A col-12" style="overflow-y: scroll; height: 240px; padding: 10px" rows="8">
<%= req.session.Received_Order[key]['Content'] %></textarea
          >
          <div class="col-12" style="text-align: center; margin-top: 20px">
            <button type="button" onclick="window.close()" style="outline: none; width: 60px; height: 35px; font-size: 20px; border: 1px solid black">
              취소
            </button>
            <button type="submit" style="outline: none; width: 60px; height: 35px; font-size: 20px; border: 1px solid black">수정</button>
          </div>
        </form>
      </div>
    </div>
    <div class="col-12" style="height: 20px">&nbsp;</div>
    <form action="/uploads" method="POST" name="form2" enctype="multipart/form-data" target="2">
      <div style="text-align: center">
        <input type="file" name="filearray" id="file-input" multiple />
        <input type="hidden" name="PO_UUID" value="<%= req.session.Received_Order[key]['UUID'] %>" />
        <button onlick="Form2Submit()">업로드</button>
        <div id="preview" class="d-flex flex-wrap"></div>
      </div>
    </form>

    <% } } %> <% if (type == 'S'){ %>
    <!------------------------------------------------->

    <div class="d-flex flex-warp justify-content-center" style="justify-content: center">
      <div id="Purchase_Order" class="col-10" style="text-align: center">
        <div
          style="text-align: center; font-size: 32px; border-top: 1px solid #444444; border-left: 1px solid #444444; border-right: 1px solid #444444"
        >
          발&nbsp;&nbsp;주&nbsp;&nbsp;서
        </div>
        <div
          style="
            text-align: center;
            font-size: 1vw;
            border-bottom: 1px solid #444444;
            border-left: 1px solid #444444;
            border-right: 1px solid #444444;
          "
        ></div>
        <div class="d-flex border_B border_L border_R" style="align-items: center; justify-content: center; text-align: center; height: 300px">
          <div id="company-1" class="col-017 d-flex flex-wrap" style="height: 100%">
            <div class="col-12 d-flex flex-wrap border_B" style="align-items: center; justify-content: center">
              <div class="col-07 Poc_main_font">본사명</div>
              <div class="col-08 11 Poc_main_font border_L" style="height: 100%">
                <input
                  type="text"
                  id="Comp_NAME"
                  name="Comp_NAME"
                  value="<%= req.session.MyCompanyInfo[0]['Comp_NAME'] %>"
                  style="width: 100%; height: 100%; text-align: center"
                  readonly
                />
              </div>
            </div>
            <div class="col-12 d-flex flex-wrap border_B" style="align-items: center; justify-content: center">
              <div class="col-07 Poc_main_font">대표자 성명</div>
              <div class="col-08 11 Poc_main_font border_L" style="height: 100%">
                <input
                  type="text"
                  id="President_NAME"
                  name="President_NAME"
                  value="<%= req.session.MyCompanyInfo[0]['President_NAME'] %>"
                  style="width: 100%; height: 100%; text-align: center"
                  readonly
                />
              </div>
            </div>
            <div class="col-12 d-flex flex-wrap border_B" style="align-items: center; justify-content: center">
              <div class="col-07 Poc_main_font">주소</div>
              <div class="col-08 11 Poc_main_font border_L" style="height: 100%">
                <input
                  type="text"
                  id="Business_ADDR"
                  name="Business_ADDR"
                  value="<%= req.session.MyCompanyInfo[0]['Business_ADDR'] %>"
                  requiredun
                  style="width: 100%; height: 100%; text-align: center"
                  readonly
                />
              </div>
            </div>
            <div class="col-12 d-flex flex-wrap border_B" style="align-items: center; justify-content: center">
              <div class="col-07 Poc_main_font">TEL</div>
              <div class="col-08 11 Poc_main_font border_L" style="height: 100%">
                <input
                  type="text"
                  id="TEL"
                  name="TEL"
                  value="<%= req.session.MyCompanyInfo[0]['TEL'] %>"
                  style="width: 100%; height: 100%; text-align: center"
                  readonly
                />
              </div>
            </div>
            <div class="col-12 d-flex flex-wrap" style="align-items: center; justify-content: center">
              <div class="col-07 Poc_main_font">FAX</div>
              <div class="col-08 11 Poc_main_font border_L" style="height: 100%">
                <input
                  type="text"
                  id="FAX"
                  name="FAX"
                  value="<%= req.session.MyCompanyInfo[0]['FAX'] %>"
                  style="width: 100%; height: 100%; text-align: center"
                  readonly
                />
              </div>
            </div>
          </div>

          <div class="col-04 d-flex flex-wrap" style="font-size: 1vmax; border-left: 1px solid black; border-right: 1px solid black; height: 100%">
            <div calss="col-12" style="width: 100%">공</div>
            <div calss="col-12" style="width: 100%">급</div>
            <div calss="col-12" style="width: 100%">자</div>
          </div>

          <!--공급자-->
          <div id="company-2" class="col-017 d-flex flex-wrap" style="height: 100%">
            <div class="col-12 d-flex flex-wrap border_B" style="align-items: center; justify-content: center">
              <div class="col-07 Poc_main_font">본사명</div>
              <div class="col-08 Poc_main_font border_L" style="height: 100%">
                <input
                  type="text"
                  id="Comp_NAME2"
                  name="Comp_NAME"
                  value="<%= req.session.S_CompanyInfo[key]['Comp_NAME'] %>"
                  style="width: 100%; height: 100%; text-align: center"
                  readonly
                />
              </div>
            </div>
            <div class="col-12 d-flex flex-wrap border_B" style="align-items: center; justify-content: center">
              <div class="col-07 Poc_main_font">대표자 성명</div>
              <div class="col-08 Poc_chat_font border_L" style="height: 100%">
                <input
                  type="text"
                  id="President_NAME2"
                  name="President_NAME"
                  value="<%= req.session.S_CompanyInfo[key]['President_NAME'] %>"
                  style="width: 100%; height: 100%; text-align: center"
                  readonly
                />
              </div>
            </div>
            <div class="col-12 d-flex flex-wrap border_B" style="align-items: center; justify-content: center">
              <div class="col-07 Poc_main_font">사업자 번호</div>
              <div class="col-08 Poc_chat_font border_L" style="height: 100%">
                <input
                  type="text"
                  id="Business_NUM2"
                  name="Business_NUM"
                  value="<%= req.session.MyCompanyInfo[0]['Business_NUM'] %>"
                  style="width: 100%; height: 100%; text-align: center"
                  readonly
                />
              </div>
            </div>
            <div class="col-12 d-flex flex-wrap border_B" style="align-items: center; justify-content: center">
              <div class="col-07 Poc_main_font">주소</div>
              <div class="col-08 Poc_chat_font border_L" style="height: 100%">
                <input
                  type="text"
                  id="Business_ADDR2"
                  name="Business_ADDR"
                  value="<%= req.session.S_CompanyInfo[key]['Business_ADDR'] %>"
                  requiredun
                  style="width: 100%; height: 100%; text-align: center"
                  readonly
                />
              </div>
            </div>
            <div class="col-12 d-flex flex-wrap border_B" style="align-items: center; justify-content: center">
              <div class="col-07 Poc_main_font">공장 주소</div>
              <div class="col-08 Poc_chat_font border_L" style="height: 100%">
                <input
                  type="text"
                  id="Factory_ADDR2"
                  name="Factory_ADDR"
                  value="<%= req.session.S_CompanyInfo[key]['Factory_ADDR'] %>"
                  style="width: 100%; height: 100%; text-align: center"
                  readonly
                />
              </div>
            </div>
            <div class="col-12 d-flex flex-wrap border_B" style="align-items: center; justify-content: center">
              <div class="col-07 Poc_main_font">업종</div>
              <div class="col-08 Poc_chat_font border_L" style="height: 100%">
                <input
                  type="text"
                  id="Sectors"
                  name="Sectors"
                  value="<%=req.session.S_CompanyInfo[key]['Sectors']%>"
                  style="width: 100%; height: 100%; text-align: center"
                  readonly
                />
              </div>
            </div>
            <div class="col-12 d-flex flex-wrap border_B" style="align-items: center; justify-content: center">
              <div class="col-07 Poc_main_font">TEL</div>
              <div class="col-08 Poc_chat_font border_L" style="height: 100%">
                <input
                  type="text"
                  id="TEL2"
                  name="TEL"
                  value="<%= req.session.S_CompanyInfo[key]['TEL'] %>"
                  style="width: 100%; height: 100%; text-align: center"
                  readonly
                />
              </div>
            </div>
            <div class="col-12 d-flex flex-wrap" style="align-items: center; justify-content: center">
              <div class="col-07 Poc_main_font">FAX</div>
              <div class="col-08 Poc_chat_font border_L" style="height: 100%">
                <input
                  type="text"
                  id="FAX2"
                  name="FAX"
                  value="<%= req.session.S_CompanyInfo[key]['FAX'] %>"
                  style="width: 100%; height: 100%; text-align: center"
                  readonly
                />
              </div>
            </div>
          </div>
        </div>
        <div class="col-12" style="height: 20px">&nbsp;</div>

        <!-- 테이블 -->
        <form action="/PO_items_save" method="POST">
          <input type="hidden" id="count" name="count" value="<%= req.session.S_prd_info[key].length %>" />
          <input type="hidden" name="PO_UUID" value="<%= req.session.Send_Order[key]['UUID'] %>" />
          <div class="col-12" style="justify-content: end; text-align: left">
            <button type="button" style="border: none; outline: none; width: 25px; height: 25px; font-size: 16px" onclick="delete_row()">-</button>
            <button type="button" style="border: none; outline: none; width: 25px; height: 25px; font-size: 16px" onclick="add_row()">
              <i class="bi bi-plus-lg"></i>
            </button>
            <span style="position: absolute; left: 43%">납기일 : </span>
            <input type="datetime-local" id="currentDatetime" style="position: absolute; left: 46%; border: 1px solid black" />
            <script>
              const offset = new Date().getTimezoneOffset() * 60000;

              const today = new Date(Date.now() - offset);
              document.getElementById("currentDatetime").value = today.toISOString().slice(0, 16);
              console.log(document.getElementById("currentDatetime").value);
            </script>
          </div>
          <div class="col-12" style="height: 20px">&nbsp;</div>
          <table id="tableId" class="col-12 pc" style="width: 100%; text-align: center; font-size: 1vmax; border-top: 1px solid #444444">
            <thead>
              <tr>
                <th scope="col">제품코드</th>
                <th scope="col">제품명</th>
                <th scope="col">가로</th>
                <th scope="col">세로</th>
                <th scope="col">단위</th>
                <th scope="col">수량</th>
                <th scope="col">공급가액</th>
                <th scope="col">부가세</th>
              </tr>
            </thead>
            <tbody id="PO_item_body">
              <% if (req.session. S_prd_info[key] != undefined) { for(var num in req.session. S_prd_info[key]) { %>
              <tr>
                <td>
                  <input
                    type="text"
                    name="P_Code"
                    value="<%= req.session. S_prd_info[key][num]['Product_CODE'] %>"
                    placeholder="제품코드"
                    style="width: 100%; height: 100%; outline: none; border: none; text-align: center"
                  />
                </td>
                <td>
                  <input
                    type="text"
                    id="P_Name"
                    name="P_Name"
                    value="<%= req.session. S_prd_info[key][num]['Product_NAME'] %>"
                    placeholder="제품명"
                    style="width: 100%; height: 100%; outline: none; border: none; text-align: center"
                  />
                </td>
                <td>
                  <input
                    type="text"
                    id="P_Width"
                    name="P_Width"
                    value="<%= req.session. S_prd_info[key][num]['Width'] %>"
                    placeholder="가로"
                    style="width: 100%; height: 100%; outline: none; border: none; text-align: center"
                  />
                </td>
                <td>
                  <input
                    type="text"
                    id="P_Height"
                    name="P_Height"
                    value="<%= req.session. S_prd_info[key][num]['Height'] %>"
                    placeholder="세로"
                    style="width: 100%; height: 100%; outline: none; border: none; text-align: center"
                  />
                </td>
                <td>
                  <input
                    type="text"
                    id="P_Unit"
                    name="P_Unit"
                    value="<%= req.session. S_prd_info[key][num]['unit'] %>"
                    placeholder="단위 "
                    style="width: 100%; height: 100%; outline: none; border: none; text-align: center"
                  />
                </td>
                <td>
                  <input
                    type="text"
                    id="P_Quan"
                    name="P_Quan"
                    value="<%= req.session. S_prd_info[key][num]['Quantity'] %>"
                    placeholder="수량"
                    style="width: 100%; height: 100%; outline: none; border: none; text-align: center"
                  />
                </td>
                <td>
                  <input
                    type="text"
                    id="P_Price"
                    name="P_Price"
                    value="<%= req.session. S_prd_info[key][num]['Unit_Price'] %>"
                    placeholder="단가"
                    style="width: 100%; height: 100%; outline: none; border: none; text-align: center"
                  />
                </td>
                <td>
                  <input
                    type="text"
                    id="P_VAT"
                    name="P_VAT"
                    value="<%= req.session. S_prd_info[key][num]['VAT'] %>"
                    placeholder="부가세"
                    style="width: 100%; height: 100%; outline: none; border: none; text-align: center"
                  />
                </td>
              </tr>
              <% } %>
            </tbody>
          </table>
          <div class="col-12" style="height: 25px">&nbsp;</div>
          <textarea id="Content" name="Content" class="border_A col-12" style="overflow-y: scroll; height: 240px; padding: 10px" rows="8">
<%= req.session.Send_Order[key]['Content'] %></textarea
          >

          <div class="col-12" style="text-align: center; margin-top: 20px">
            <button type="button" onclick="window.close()" style="outline: none; width: 60px; height: 35px; font-size: 20px; border: 1px solid black">
              취소
            </button>
            <button type="submit" style="outline: none; width: 60px; height: 35px; font-size: 20px; border: 1px solid black">수정</button>
          </div>
        </form>
      </div>
    </div>
    <div class="col-12" style="height: 25px">&nbsp;</div>
    <form action="/uploads" method="POST" name="form2" enctype="multipart/form-data" target="2">
      <div style="text-align: center">
        <input type="file" name="filearray" id="file-input" multiple />
        <input type="hidden" name="PO_UUID" value="<%= req.session.Send_Order[key]['UUID'] %>" />
        <button onlick="FormSubmit(form2)">&nbsp;업로드&nbsp;</button>
        <div id="preview" class="d-flex flex-wrap"></div>
      </div>
    </form>
    <% } } %>

    <script>
      let fileNo = 0; // 첨부된 이미지 총 갯수 (삭제되도 줄어들지않음). 이미지마다 다른 id를 지정하기 위함
      let filesArr = []; // 첨부된 모든 파일 리스트 (삭제되도 제거되지않음)

      let maxFileCnt = 10; // 첨부파일 최대 개수
      let attFileCnt = document.querySelectorAll("#preview").length; // 기존 추가된 첨부파일 개수
      // 업로드를 하면 바디에 생성된 태그 갯수로 계산
      let remainFileCnt = maxFileCnt - attFileCnt; // 추가로 첨부가능한 개수

      // 첨부파일 개수 확인
      // 최대 개수 초과 시

      $("input[id=file-input]")
        .off()
        .on("change", function () {
          if (parseInt($("input[id='file-input']")[0].files.length) > maxFileCnt) {
            alert("You can only upload a maximum of" + maxFileCnt + "files");
            $(this).val("");
          }
          maxFileCnt = maxFileCnt - parseInt($("input[id='file-input']")[0].files.length);
          for (var i = 0; i < parseInt($("input[id='file-input']")[0].files.length); i++) {
            if (this.files[i] && this.files[i]) {
              var maxSize = 100 * 1024 * 1024;
              var fileSize = this.files[i].size;

              if (fileSize > maxSize) {
                maxFileCnt = maxFileCnt + parseInt($("input[id='file-input']")[0].files.length);
                alert("첨부파일 사이즈는 100MB 이내로 등록 가능합니다.");
                $(this).val("");
                return false;
              }
            }
          }
        });

      const handler = {
        init() {
          const fileInput = document.querySelector("#file-input");
          const preview = document.querySelector("#preview");
          fileInput.addEventListener("change", () => {
            const files = Array.from(fileInput.files);
            files.forEach((file) => {
              preview.innerHTML += `
                              <div id="${file.lastModified}" style="margin-left:45%">
                                  ${file.name}
                                  <button data-index='${file.lastModified}' class='file-remove' style = "background-color : white; outline:none; border:none">X</button>
                              </div>`;
            });
          });
        },

        removeFile: () => {
          document.addEventListener("click", (e) => {
            if (e.target.className !== "file-remove") return;
            const removeTargetId = e.target.dataset.index;
            const removeTarget = document.getElementById(removeTargetId);
            const files = document.querySelector("#file-input").files;
            const dataTranster = new DataTransfer();

            // document.querySelector('#file-input').files =
            //             Array.from(files).filter(file => file.lastModified !== removeTarget);

            Array.from(files)
              .filter((file) => file.lastModified != removeTargetId)
              .forEach((file) => {
                dataTranster.items.add(file);
              });

            document.querySelector("#file-input").files = dataTranster.files;
            maxFileCnt++;
            removeTarget.remove();
          });
        },
      };

      handler.init();
      handler.removeFile();
    </script>

    <script>

      function FormSubmit(name) {
        name.submit();
      }
    </script>
  </body>
</html>
