<% for(var key in req.session.Send_Order) { %>
<div id="Purchase_Order_<%=key%>" class="col-12" style="text-align: center; display: none">
  <button
    class="btn btn-light"
    onclick="window.open('/PO_edit?type=S&key=<%=key%>','_blank')"
    style="font-size: 2vmin; justify-items: end; border: 1px solid black"
  >
    수정
  </button>
  <button class="btn btn-light" type="button" onclick="window.print()" style="font-size: 2vmin; justify-items: end; border: 1px solid black">
    인쇄
  </button>
  <div class="col_resize_empty_2">&nbsp;</div>
  <div style="text-align: center; font-size: 32px; border-top: 1px solid #444444; border-left: 1px solid #444444; border-right: 1px solid #444444">
    발&nbsp;&nbsp;주&nbsp;&nbsp;서
  </div>
  <div
    style="text-align: center; font-size: 1vw; border-bottom: 1px solid #444444; border-left: 1px solid #444444; border-right: 1px solid #444444"
  ></div>
  <div id="im_pc" class="d-flex border_B border_L border_R" style="align-items: center; justify-content: center; text-align: center; height: 250px">
    <div id="company-1" class="col-017 d-flex flex-wrap" style="height: 100%">
      <div class="col-12 d-flex flex-wrap border_R border_B" style="align-items: center; justify-content: center">
        <div class="col-07 Poc_chat_font">본사명</div>
        <div class="col-08 Poc_chat_font border_L" style="height: 100%">
          <input
            type="text"
            id="Comp_NAME"
            name="Comp_NAME"
            value="<%=req.session.MyCompanyInfo[0]['Comp_NAME']%>"
            style="width: 100%; height: 100%; text-align: center"
            readonly
          />
        </div>
      </div>

      <div class="col-12 d-flex flex-wrap border_R border_B" style="align-items: center; justify-content: center">
        <div class="col-07 Poc_chat_font">대표자 성명</div>
        <div class="col-08 Poc_chat_font border_L" style="height: 100%">
          <input
            type="text"
            id="President_NAME"
            name="President_NAME"
            value="<%=req.session.MyCompanyInfo[0]['President_NAME']%>"
            style="width: 100%; height: 100%; text-align: center"
            readonly
          />
        </div>
      </div>
      <div class="col-12 d-flex flex-wrap border_R border_B" style="align-items: center; justify-content: center">
        <div class="col-07 Poc_chat_font">사업자 번호</div>
        <div class="col-08 Poc_chat_font border_L" style="height: 100%">
          <input
            type="text"
            id="Business_NUM"
            name="Business_NUM"
            value="<%=req.session.MyCompanyInfo[0]['Business_NUM']%>"
            style="width: 100%; height: 100%; text-align: center"
            readonly
          />
        </div>
      </div>
      <div class="col-12 d-flex flex-wrap border_R border_B" style="align-items: center; justify-content: center">
        <div class="col-07 Poc_chat_font">주소</div>
        <div class="col-08 Poc_chat_font border_L" style="height: 100%">
          <input
            type="text"
            id="Business_Address"
            name="Business_Address"
            value="<%=req.session.MyCompanyInfo[0]['Business_ADDR']%>"
            style="width: 100%; height: 100%; text-align: center"
            readonly
          />
        </div>
      </div>
      <div class="col-12 d-flex flex-wrap border_R border_B" style="align-items: center; justify-content: center">
        <div class="col-07 Poc_chat_font">TEL</div>
        <div class="col-08 Poc_chat_font border_L" style="height: 100%">
          <input
            type="text"
            id="TEL"
            name="TEL"
            value="<%=req.session.MyCompanyInfo[0]['TEL']%>"
            style="width: 100%; height: 100%; text-align: center"
            readonly
          />
        </div>
      </div>
      <div class="col-12 d-flex flex-wrap border_R border_B" style="align-items: center; justify-content: center">
        <div class="col-07 Poc_chat_font">FAX</div>
        <div class="col-08 Poc_chat_font border_L" style="height: 100%">
          <input
            type="text"
            id="FAX"
            name="FAX"
            value="<%=req.session.MyCompanyInfo[0]['FAX']%>"
            style="width: 100%; height: 100%; text-align: center"
            readonly
          />
        </div>
      </div>
    </div>
    <div class="col-04 d-flex flex-wrap" style="font-size: 16px; border-right: 1px solid black; height: 100%">
      <div calss="col-12" style="width: 100%">공</div>
      <div calss="col-12" style="width: 100%">급</div>
      <div calss="col-12" style="width: 100%">자</div>
    </div>
    <!--공급자-->
    <div id="company-2" class="col-017 d-flex flex-wrap" style="height: 100%">
      <div class="col-12 d-flex flex-wrap border_B" style="align-items: center; justify-content: center">
        <div class="col-07 Poc_chat_font">본사명</div>
        <div class="col-08 Poc_chat_font border_L" style="height: 100%">
          <input
            type="text"
            id="Comp_NAM2"
            name="Comp_NAME2"
            value="<%=req.session.S_CompanyInfo[key]['Comp_NAME']%>"
            style="width: 100%; height: 100%; text-align: center"
            readonly
          />
        </div>
      </div>
      <div class="col-12 d-flex flex-wrap border_B" style="align-items: center; justify-content: center">
        <div class="col-07 Poc_chat_font">대표자 성명</div>
        <div class="col-08 Poc_chat_font border_L" style="height: 100%">
          <input
            type="text"
            id="President_NAME_2"
            name="President_NAME_2"
            value="<%=req.session.S_CompanyInfo[key]['President_NAME']%>"
            style="width: 100%; height: 100%; text-align: center"
            readonly
          />
        </div>
      </div>
      <div class="col-12 d-flex flex-wrap border_B" style="align-items: center; justify-content: center">
        <div class="col-07 Poc_chat_font">사업자 번호</div>
        <div class="col-08 Poc_chat_font border_L" style="height: 100%">
          <input
            type="text"
            id="Business_NUM2"
            name="Business_NUM2"
            value="<%=req.session.S_CompanyInfo[key]['Business_NUM']%>"
            style="width: 100%; height: 100%; text-align: center"
            readonly
          />
        </div>
      </div>
      <div class="col-12 d-flex flex-wrap border_B" style="align-items: center; justify-content: center">
        <div class="col-07 Poc_chat_font">본사 주소</div>
        <div class="col-08 Poc_chat_font border_L" style="height: 100%">
          <input
            type="text"
            id="Business_Address_2"
            name="Business_Address_2"
            value="<%=req.session.S_CompanyInfo[key]['Business_ADDR']%>"
            style="width: 100%; height: 100%; text-align: center"
            readonly
          />
        </div>
      </div>
      <div class="col-12 d-flex flex-wrap border_B" style="align-items: center; justify-content: center">
        <div class="col-07 Poc_chat_font">공장 주소</div>
        <div class="col-08 Poc_chat_font border_L" style="height: 100%">
          <input
            type="text"
            id="Business_Address_F"
            name="Business_Address_F"
            value="<%=req.session.S_CompanyInfo[key]['Factory_ADDR(OPTIONAL)']%>"
            style="width: 100%; height: 100%; text-align: center"
            readonly
          />
        </div>
      </div>
      <div class="col-12 d-flex flex-wrap border_B" style="align-items: center; justify-content: center">
        <div class="col-07 Poc_chat_font">업종</div>
        <div class="col-08 Poc_chat_font border_L" style="height: 100%">
          <input
            type="text"
            id="Sectors"
            name="Sectors"
            value="<%=req.session.S_CompanyInfo[key]['Sectors']%>"
            style="width: 100%; height: 100%; text-align: center"
            readonly
          />
        </div>
      </div>
      <div class="col-12 d-flex flex-wrap border_B" style="align-items: center; justify-content: center">
        <div class="col-07 Poc_chat_font">TEL</div>
        <div class="col-08 Poc_chat_font border_L" style="height: 100%">
          <input
            type="text"
            id="TEL2"
            name="TEL2"
            value="<%=req.session.S_CompanyInfo[key]['TEL']%>"
            style="width: 100%; height: 100%; text-align: center"
            readonly
          />
        </div>
      </div>
      <div class="col-12 d-flex flex-wrap border_B" style="align-items: center; justify-content: center">
        <div class="col-07 Poc_chat_font">FAX</div>
        <div class="col-08 Poc_chat_font border_L" style="height: 100%">
          <input
            type="text"
            id="Fax2"
            name="Fax2"
            value="<%=req.session.S_CompanyInfo[key]['FAX']%>"
            style="width: 100%; height: 100%; text-align: center"
            readonly
          />
        </div>
      </div>
    </div>
  </div>

  <div class="col-12" style="height: 10wh">&nbsp;</div>
  <!-- 테이블 -->
  <table id="tableId" class="col-12 pc" style="width: 100%; text-align: center; font-size: 1vmax; border-top: 1px solid #444444">
    <thead>
      <tr>
        <th scope="col">제품코드</th>
        <th scope="col">제품명</th>
        <th scope="col">가로</th>
        <th scope="col">세로</th>
        <th scope="col">단위</th>
        <th scope="col">수량</th>
        <th scope="col">공급가액</th>
        <th scope="col">부가세</th>
      </tr>
    </thead>
    <tbody id="PO_item_body">
      <% if (req.session.S_prd_info[key] != undefined) { for(var num in req.session.S_prd_info[key]) { %>
      <tr>
        <td>
          <input
            type="text"
            id="P_Code"
            name="P_Code"
            value="<%= req.session.S_prd_info[key][num]['Product_CODE'] %>"
            readonly
            style="width: 100%; height: 100%; outline: none; border: none; text-align: center"
          />
        </td>
        <td>
          <input
            type="text"
            id="P_Name"
            name="P_Name"
            value="<%= req.session.S_prd_info[key][num]['Product_NAME'] %>"
            readonly
            style="width: 100%; height: 100%; outline: none; border: none; text-align: center"
          />
        </td>
        <td>
          <input
            type="text"
            id="P_Width"
            name="P_Width"
            value="<%= req.session.S_prd_info[key][num]['Width'] %>"
            readonly
            style="width: 100%; height: 100%; outline: none; border: none; text-align: center"
          />
        </td>
        <td>
          <input
            type="text"
            id="P_Height"
            name="P_Height"
            value="<%= req.session.S_prd_info[key][num]['Height'] %>"
            readonly
            style="width: 100%; height: 100%; outline: none; border: none; text-align: center"
          />
        </td>
        <td>
          <input
            type="text"
            id="P_Unit"
            name="P_Unit"
            value="<%= req.session.S_prd_info[key][num]['unit'] %>"
            readonly
            style="width: 100%; height: 100%; outline: none; border: none; text-align: center"
          />
        </td>
        <td>
          <input
            type="text"
            id="P_Quan"
            name="P_Quan"
            value="<%= req.session.S_prd_info[key][num]['Quantity'] %>"
            readonly
            style="width: 100%; height: 100%; outline: none; border: none; text-align: center"
          />
        </td>
        <td>
          <input
            type="text"
            id="P_Price"
            name="P_Price"
            value="<%= req.session.S_prd_info[key][num]['Unit_Price'] %>"
            readonly
            style="width: 100%; height: 100%; outline: none; border: none; text-align: center"
          />
        </td>
        <td>
          <input
            type="text"
            id="P_VAT"
            name="P_VAT"
            value="<%= req.session.S_prd_info[key][num]['VAT'] %>"
            readonly
            style="width: 100%; height: 100%; outline: none; border: none; text-align: center"
          />
        </td>
      </tr>
      <% } } %>
    </tbody>
  </table>
  <div class="col-12" style="height: 25px">&nbsp;</div>
  <textarea readonly class="col-12 border_A" style="overflow-y: scroll; height: 160px; padding: 10px" rows="8">
<%= req.session.Send_Order[key]['Content'] %></textarea
  >
</div>

<%}%>
