<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- 커스텀 스크립트 -->
    <script src="/js/main.js"></script>
    <script src="/js/Board_Table.js"></script>
    <script>
      function Reset_PO() {
        window.history.back();
      }
    </script>
    <!-- 커스텀 CSS -->
    <link href="/css/main.css" rel="stylesheet" />
    <link href="/css/font.css" rel="stylesheet" />
    <link href="/css/div.css" rel="stylesheet" />
    <link href="/css/class.css" rel="stylesheet" />

    <style>
      table {
        width: 100%;
        padding: 0px;
        border: 1px solid #444444;
        border-collapse: collapse;
      }
      th,
      td {
        border: 1px solid #444444;
        padding: 0px;
        font-size: 16px;
      }
      input {
        border: none;
      }
    </style>
  </head>
  <body>
    <form action="/PO_save" method="POST">
      <div class="d-flex flex-wrap" style="justify-content: center; height: 20px">
        <button
          class="btn btn-light"
          type="submit"
          style="font-size: 20px; text-align: end; justify-items: end; border: 1px solid black; margin-right: 20px"
        >
          저장
        </button>
        <button class="btn btn-light" type="button" onclick="Reset_PO()" style="font-size: 20px; border: 1px solid black; margin-right: 20px">
          취소
        </button>
        <button class="btn btn-light" type="button" onclick="window.print()" style="font-size: 20px; border: 1px solid black">인쇄</button>
      </div>
      &nbsp;
      <div class="col-12" style="height: 10wh">&nbsp;</div>
      <div class="d-flex flex-warp justify-content-center" style="justify-content: center">
        <div id="Purchase_Order" style="text-align: center; min-width: 1080px">
          <input
            id="title_PO"
            name="title_PO"
            value=""
            placeholder="제목을 입력해 주세요"
            style="
              width: 100%;
              text-align: center;
              font-size: 32px;
              border-top: 1px solid #444444;
              border-left: 1px solid #444444;
              border-right: 1px solid #444444;
            "
          />

          <div
            style="
              text-align: center;
              font-size: 16px;
              border-bottom: 1px solid #444444;
              border-left: 1px solid #444444;
              border-right: 1px solid #444444;
            "
          ></div>

          <div class="col-12" style="height: 30px">&nbsp;</div>

          <table>
            <tbody>
              <tr>
                <th>
                  <table>
                    <tbody>
                      <tr>
                        <th style="height: 36px">회사명</th>
                        <th>
                          <input
                            type="text"
                            id="Comp_NAME"
                            name="Comp_NAME"
                            value="<%= req.session.MyCompanyInfo[0]['Comp_NAME'] %>"
                            readonly
                            style="width: 100%; height: 100%; text-align: center"
                          />
                        </th>
                      </tr>
                      <tr>
                        <th style="height: 36px">대표자 성명</th>
                        <th>
                          <input
                            type="text"
                            id="President_NAME"
                            name="President_NAME"
                            value="<%= req.session.MyCompanyInfo[0]['President_NAME'] %>"
                            readonly
                            style="width: 100%; height: 100%; text-align: center"
                          />
                        </th>
                      </tr>
                      <tr>
                        <th style="height: 32px">사업자 번호</th>
                        <th>
                          <input
                            type="text"
                            id="Business_NUM"
                            name="Business_NUM"
                            value="<%= req.session.MyCompanyInfo[0]['Business_NUM'] %>"
                            readonly
                            style="width: 100%; height: 100%; text-align: center"
                          />
                        </th>
                      </tr>
                      <tr></tr>
                      <tr>
                        <th style="height: 32px">주소</th>
                        <th>
                          <input
                            type="text"
                            id="Business_ADDR"
                            name="Business_ADDR"
                            value="<%= req.session.MyCompanyInfo[0]['Business_ADDR'] %>"
                            readonly
                            style="width: 100%; height: 100%; text-align: center"
                          />
                        </th>
                      </tr>
                      <tr>
                        <th style="height: 32px">TEL</th>
                        <th>
                          <input
                            type="text"
                            id="TEL"
                            name="TEL"
                            value="<%= req.session.MyCompanyInfo[0]['TEL'] %>"
                            required
                            readonly
                            style="width: 100%; height: 100%; text-align: center"
                          />
                        </th>
                      </tr>
                      <tr>
                        <th style="height: 32px">FAX</th>
                        <th>
                          <input
                            type="text"
                            id="FAX"
                            name="FAX"
                            value="<%= req.session.MyCompanyInfo[0]['FAX'] %>"
                            required
                            readonly
                            style="width: 100%; height: 100%; text-align: center"
                          />
                        </th>
                      </tr>
                    </tbody>
                  </table>
                </th>
                <th>
                  <p>공</p>
                  <p>급</p>
                  <p>자</p>
                </th>
                <th>
                  <table>
                    <tbody>
                      <tr>
                        <th>본사명</th>
                        <th>
                          <input
                            type="text"
                            id="Comp_NAME_2"
                            name="Comp_NAME2"
                            placeholder="회사명"
                            value="<%= rows[0] %>"
                            required
                            readonly
                            style="width: 100%; height: 100%; text-align: center"
                          />
                        </th>
                      </tr>
                      <tr>
                        <th>대표자 성명</th>
                        <th>
                          <input
                            type="text"
                            id="President_NAME_2"
                            name="President_NAME_2"
                            placeholder="대표자 성명"
                            value="<%= rows[1] %>"
                            required
                            readonly
                            style="width: 100%; height: 100%; text-align: center"
                          />
                        </th>
                      </tr>
                      <tr>
                        <th>사업자 번호</th>
                        <th>
                          <input
                            type="text"
                            id="Business_NUM2"
                            name="Business_NUM2"
                            placeholder="사업자 번호"
                            value="<%= rows[2] %>"
                            required
                            readonly
                            style="width: 100%; height: 100%; text-align: center"
                          />
                        </th>
                      </tr>
                      <tr>
                        <th>본사 주소</th>
                        <th>
                          <input
                            type="text"
                            id="Business_ADDR2"
                            name="Business_ADDR2"
                            placeholder="본사 주소"
                            value="<%= rows[3] %>"
                            required
                            readonly
                            style="width: 100%; height: 100%; text-align: center"
                          />
                        </th>
                      </tr>
                      <tr>
                        <th>공장 주소</th>
                        <th>
                          <input
                            type="text"
                            id="Business_Address_F"
                            name="Business_Address_F"
                            placeholder="공장 주소"
                            value="<%= rows[4] %>"
                            required
                            readonly
                            style="width: 100%; height: 100%; text-align: center"
                          />
                        </th>
                      </tr>
                      <tr>
                        <th>업종</th>
                        <th>
                          <input
                            type="text"
                            id="Sectors"
                            name="Sectors"
                            placeholder="업종"
                            value="<%= rows[5] %>"
                            readonly
                            style="width: 100%; height: 100%; text-align: center"
                          />
                        </th>
                      </tr>
                      <tr>
                        <th>TEL</th>
                        <th>
                          <input
                            type="text"
                            id="TEL2"
                            name="TEL2"
                            placeholder="TEL"
                            value="<%= rows[6] %>"
                            required
                            readonly
                            style="width: 100%; height: 100%; text-align: center"
                          />
                        </th>
                      </tr>
                      <tr>
                        <th>FAX</th>
                        <th>
                          <input
                            type="text"
                            id="Fax2"
                            name="Fax2"
                            placeholder="FAX"
                            value="<%= rows[7] %>"
                            required
                            readonly
                            style="width: 100%; height: 100%; text-align: center"
                          />
                        </th>
                      </tr>
                    </tbody>
                  </table>
                </th>
              </tr>
            </tbody>
          </table>
          <div class="col-12" style="height: 10wh">&nbsp;</div>

          <input type="hidden" id="count" name="count" value="0" />

          <div class="col-12" style="justify-content: end; text-align: left">
            <button type="button" style="border: none; outline: none; width: 25px; height: 25px; font-size: 16px" onclick="delete_row()">-</button>
            <button type="button" style="border: none; outline: none; width: 25px; height: 25px; font-size: 16px" onclick="add_row()">
              <i class="bi bi-plus-lg"></i>
            </button>
          </div>
          <div class="col-12" style="height: 10wh">&nbsp;</div>

          <table id="tableId" class="col-12 pc" style="width: 100%; text-align: center; font-size: 1vmax; border-top: 1px solid #444444">
            <thead>
              <tr>
                <th scope="col">제품코드</th>
                <th scope="col">제품명</th>
                <th scope="col">가로</th>
                <th scope="col">세로</th>
                <th scope="col">단위</th>
                <th scope="col">수량</th>
                <th scope="col">단가</th>
                <th scope="col">부가세</th>
              </tr>
            </thead>
            <tbody id="PO_item_body">
              <tr>
                <td>
                  <input
                    type="text"
                    name="P_Code"
                    value=""
                    placeholder="제품코드"
                    style="width: 100%; height: 100%; outline: none; border: none; text-align: center"
                  />
                </td>
                <td>
                  <input
                    type="text"
                    id="P_Name"
                    name="P_Name"
                    value=""
                    placeholder="제품명"
                    style="width: 100%; height: 100%; outline: none; border: none; text-align: center"
                  />
                </td>
                <td>
                  <input
                    type="text"
                    id="P_Width"
                    name="P_Width"
                    value=""
                    placeholder="가로"
                    style="width: 100%; height: 100%; outline: none; border: none; text-align: center"
                  />
                </td>
                <td>
                  <input
                    type="text"
                    id="P_Height"
                    name="P_Height"
                    value=""
                    placeholder="세로"
                    style="width: 100%; height: 100%; outline: none; border: none; text-align: center"
                  />
                </td>
                <td>
                  <input
                    type="text"
                    id="P_Unit"
                    name="P_Unit"
                    value=""
                    placeholder="단위"
                    style="width: 100%; height: 100%; outline: none; border: none; text-align: center"
                  />
                </td>
                <td>
                  <input
                    type="text"
                    id="P_Quan"
                    name="P_Quan"
                    value=""
                    placeholder="수량"
                    style="width: 100%; height: 100%; outline: none; border: none; text-align: center"
                  />
                </td>
                <td>
                  <input
                    type="text"
                    id="P_Price"
                    name="P_Price"
                    value=""
                    placeholder="단가"
                    style="width: 100%; height: 100%; outline: none; border: none; text-align: center"
                  />
                </td>
                <td>
                  <input
                    type="text"
                    id="P_VAT"
                    name="P_VAT"
                    value=""
                    placeholder="부가세"
                    style="width: 100%; height: 100%; outline: none; border: none; text-align: center"
                  />
                </td>
              </tr>
            </tbody>
          </table>
          <div class="col-12" style="height: 10wh">&nbsp;</div>

          <textarea id="Content" name="Content" class="border_A col-12" style="overflow-y: scroll; height: 240px; padding: 10px" rows="8"></textarea>
        </div>
      </div>
    </form>
    <form action="/uploads" method="post" name="form2" enctype="multipart/form-data" target="2">
      <input type="file" name="filearray" id="file-input" multiple />
      <button onlick="FormSubmit(form2)">파일 입력</button>
      <div id="preview" class="d-flex flex-wrap"></div>
    </form>

    <script>
      let fileNo = 0; // 첨부된 이미지 총 갯수 (삭제되도 줄어들지않음). 이미지마다 다른 id를 지정하기 위함
      let filesArr = []; // 첨부된 모든 파일 리스트 (삭제되도 제거되지않음)

      let maxFileCnt = 10; // 첨부파일 최대 개수
      let attFileCnt = document.querySelectorAll("#preview").length; // 기존 추가된 첨부파일 개수
      // 업로드를 하면 바디에 생성된 태그 갯수로 계산
      let remainFileCnt = maxFileCnt - attFileCnt; // 추가로 첨부가능한 개수

      // 첨부파일 개수 확인
      // 최대 개수 초과 시

      $("input[id=file-input]")
        .off()
        .on("change", function () {
          if (parseInt($("input[id='file-input']")[0].files.length) > maxFileCnt) {
            alert("You can only upload a maximum of" + maxFileCnt + "files");
            $(this).val("");
          }
          maxFileCnt = maxFileCnt - parseInt($("input[id='file-input']")[0].files.length);
          for (var i = 0; i < parseInt($("input[id='file-input']")[0].files.length); i++) {
            if (this.files[i] && this.files[i]) {
              var maxSize = 100 * 1024 * 1024;
              var fileSize = this.files[i].size;

              if (fileSize > maxSize) {
                maxFileCnt = maxFileCnt + parseInt($("input[id='file-input']")[0].files.length);
                alert("첨부파일 사이즈는 100MB 이내로 등록 가능합니다.");
                $(this).val("");
                return false;
              }
            }
          }
        });

      const handler = {
        init() {
          const fileInput = document.querySelector("#file-input");
          const preview = document.querySelector("#preview");
          fileInput.addEventListener("change", () => {
            const files = Array.from(fileInput.files);
            files.forEach((file) => {
              preview.innerHTML += `
                              <div id="${file.lastModified}">
                                  ${file.name}
                                  <button data-index='${file.lastModified}' class='file-remove' style = "background-color : white; outline:none; border:none">X</button>
                              </div>`;
            });
          });
        },

        removeFile: () => {
          document.addEventListener("click", (e) => {
            if (e.target.className !== "file-remove") return;
            const removeTargetId = e.target.dataset.index;
            const removeTarget = document.getElementById(removeTargetId);
            const files = document.querySelector("#file-input").files;
            const dataTranster = new DataTransfer();

            // document.querySelector('#file-input').files =
            //             Array.from(files).filter(file => file.lastModified !== removeTarget);

            Array.from(files)
              .filter((file) => file.lastModified != removeTargetId)
              .forEach((file) => {
                dataTranster.items.add(file);
              });

            document.querySelector("#file-input").files = dataTranster.files;
            maxFileCnt++;
            removeTarget.remove();
          });
        },
      };

      handler.init();
      handler.removeFile();
    </script>

    <script>
      function FormSubmit(name) {
        name.submit();
      }
    </script>
  </body>
</html>
