<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <%- include ('header_login.ejs') %>

    <!--비정상 접근 차단-->
    <% if(typeof(pass) === 'undefined') { %>
    <script type="text/javascript">
      alert("비정상적인 접근입니다.");
      window.location.href = "/";
    </script>
    <% } else if(pass == 'NONE') { %>
    <script type="text/javascript">
      alert("로그인이 필요합니다.");
      window.location.href = "/";
    </script>
    <% } else if(typeof(req) === 'undefined') { %>
    <script type="text/javascript">
      alert("비정상적인 접근입니다.");
      window.location.href = "/";
    </script>
    <% } %>

    <script src="/node_modules/jquery/dist/jquery.js"></script>

    <style>
      input {
        outline: none;
        border: none;
      }
      li {
        list-style: none;
      }
      img {
        width: 100%;
      }
      .real-upload {
        display: none;
      }
      .upload {
        width: 20px;
        height: 20px;
        background-color: #444444;
      }
      .image-preview {
        gap: 20px;
      }
    </style>
  </head>
  <body>
    <!-- 커스텀 스트립트 -->
    <script type="text/javascript">
      // REQ (요청) 변수들 저장
      const uid = "<%= req.session.UserID%>";
      const uname = "<%= req.session.UserName%>";
      const comp = "<%= req.session.MyCompanyInfo[0]['Comp_NAME']%>";
      let chat_room = "";
    </script>

    <script type="text/javascript">

      // 웹소켓 클라이언트 접속
      const ws = new WebSocket("ws://" + window.location.hostname + ":8080");
      ws.onopen = () => {
        console.log("connected at server");
      };
      ws.onclose = () => {
        console.log("disconnected from server");
      };
      ws.onerror = () => {
        console.log("connection error");
      };

      ws.onmessage = (message) => {
        ///웹 소켓에서 메세지가 날아오면 실행되는 함수

        var MSG = JSON.parse(message.data);
        //console.log("onmessage :: Chat message Received = " + MSG.msg);
        <% for (var key in req.session.Send_Order) { %>
          if(MSG.chat_room_id == `<%= req.session.Send_Order[key]['TB_CHAT_ROOM_ID'] %>`){
            if (MSG.user_id != uid) {
              newReceiveDiv(chat_tables_<%=key%>, MSG.msg, MSG.user_name, MSG.comp_name);
            } else {
              //console.log("MSG was mine.");
              //do nothing
            }
          }
          else{
            //do nothing
          }
          scrollBottom(`chat_tables_<%=key%>`)
        <% } %>

      };
    </script>

    <script type="text/javascript">
      // 채팅 관련 함수들
      function Enter_Check(div_id, chat_room, key) {
        // 엔터키의 코드는 13
        if (event.keyCode == 13) {
          sendMessage(event, key, uid, uname, comp, chat_room, div_id);
          return;
        }
      }

      function chat_load(div_id, MSG) {
        for (i = 0; i < MSG.length; i++) {
          if (MSG[i].sent_user_id != uid) {
            newReceiveDiv(div_id, MSG[i].message, MSG[i].sent_user_name, MSG[i].comp_name);
          } else {
            newSendDiv(div_id, MSG[i].message, MSG[i].sent_user_name, MSG[i].comp_name);
          }
        }
      }
    </script>

    <!---------- 목록 파트 ------------>
    <div style="height: 50px"></div>
    <div class="d-flex flex-wrap" style="margin: auto; width: 900px; text-align: center">
      <table class="table table-hover" id="POtable">
        <thead>
          <tr>
            <th scope="col" style="width: 300px">제목</th>
            <th scope="col" style="width: 300px">받는 업체</th>
            <th scope="col" style="width: 300px">발주일</th>
            <th scope="col" style="width: 300px">납품기한</th>
          </tr>
        </thead>
        <tbody>
          <%if (typeof(req.session.Send_Order) !== 'undefined') { for (var key in req.session.Send_Order) { %>
          <tr
            onclick="toggleDiv(PO_DIV),toggleDiv(PO_CHAT_DIV_<%=key%>),toggleDiv(POtable),toggleDiv(Purchase_Order_<%=key%>), 
            chat_room_<%=key%> = `<%= req.session.Send_Order[key]['TB_CHAT_ROOM_ID'] %>`, scrollBottom(`chat_tables_<%=key%>`);"
          >
            <th scope="row"><%= req.session.Send_Order[key]["Title"] %></th>
            <td><%= req.session.S_CompanyInfo[key]["Comp_NAME"] %></td>
            <td><%= req.session.Send_Order[key]["Order_Date"].split(' ')[0] %></td>
            <td><%= req.session.Send_Order[key]["Delivery_Date"].split(' ')[0] %></td>
          </tr>
          <%}}%>
        </tbody>
      </table>
    </div>

    <!---------- 발주서 파트 ------------>
    <div class="d-flex flex-wrap justify-content-center">
      <div id="BIG_DIV" class="col-12 d-flex flex-wrap justify-content-center">
        <div style="width: 10px"></div>
        <div
          class="col_resize"
          style="text-align: center; background-color: white; display: none; min-width: 900px; max-height: 900px; height: 700px"
          id="PO_DIV"
        >
          <button
            type="button"
            onclick="
              toggleDiv(PO_DIV), 
              <%if (typeof(req.session.Send_Order) !== 'undefined'){ for(var key in req.session.Send_Order) {%>
                Display_none(PO_CHAT_DIV_<%=key%>),
                Display_none(Purchase_Order_<%=key%>),
              <%}}%> toggleDiv(POtable)"
            style="float: left; background-color: rgb(233, 233, 233); border: transparent; border-radius: 3px"
          >
            <i class="bi bi-x-lg"></i>
          </button>
          <div><%- include ('Purchase_Order_Send_form.ejs') %></div>
        </div>
        <div class="col_resize_empty_2">&nbsp;</div>

        <!---------- 채팅창 파트 ------------>
        <% for (var key in req.session.Send_Order) { %>
        <div class="col_resize_chat content MY_DIV2_SIZE_960" id="PO_CHAT_DIV_<%=key%>" style="text-align: center; font-size: 1.5vw; display: none">
          <div id="CHAT" style="background-color: #d2e9f2; border: var(--bs-border-color-translucent) 1px solid">
            수신 : <%=req.session.S_CompanyInfo[key]['Comp_NAME']%> - [<%=req.session.Send_Order[key]['Title']%>]
          </div>
          <div
            id="chat_tables_<%=key%>"
            class="col-12 test"
            style="
              word-break: break-all;
              border: var(--bs-border-color-translucent) 1px solid;
              background-color: #d2e9f2;
              min-height: 600px;
              max-height: 1100px;
              height: calc(82vh - 150px);
              overflow-y: scroll;
            "
          ></div>

          <div id="BUTTON_DIV" class="d-flex">
            <input
              type="text"
              rows="3"
              id="txt_on_<%=key%>"
              style="width: 100%; border: transparent; outline: none"
              onkeydown="Enter_Check(chat_tables_<%=key%>, chat_room_<%=key%>, <%=key%>), scrollBottom(`chat_tables_<%=key%>`)"
            />
            <button
              type="button"
              onclick="sendMessage(undefined, <%=key%>, uid, uname, comp, chat_room_<%=key%>, chat_tables_<%=key%>), scrollBottom(`chat_tables_<%=key%>`)"
              class="btn btn-secondary"
              style="border: var(--bs-border-color-translucent) 1px solid; border-radius: 0"
            >
              <i class="bi bi-send"></i>
            </button>
          </div>
          <div class="col-12" style="height: 30px"></div>
        </div>
        <script>
          // 첫 채팅 메세지 로딩
          var MSG = JSON.parse(`<%- req.session.S_Chatting[key] %>`);
          chat_load(chat_tables_<%=key%>, MSG);
        </script>
        <%}%>
      </div>
    </div>
  </body>
</html>
